@charset "UTF-8";

@media screen and (min-width: 768px) {
    .imgpequena {
        display: none;
    }
}



@media screen and (min-width: 992px) {

    #mobile{
        display: none;
    }

    #pc {
        display: block;
        width: 100vw;
        height: 450px;
    }

    h1 {
        margin-top: 30px;
    }
    section {
        width: 1000px;
    }

    .imgpequena {
        display: block;
    }

    #conteiner {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #conteiner > div img {
        width: 500px;
    }

    .especial {
        width: 50%;
        display: none;
    }

    footer {
        width: 100vw;
    }

    footer p {
        width: 800px;
        text-align: center;
        margin: auto;
    }
}