@charset "UTF-8";

@media screen and (min-width: 768px) {
    .imgpequena {
        display: none;
    }

    #conteiner {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #mobile {
        display: block;
    }

    #pc {
        display: none;
        height: 200px;
        width: 100vw;
    }
}



@media screen and (min-width: 992px) {

    ::-webkit-scrollbar{
        width: 10px;
        height: 0px;
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        background: gray;
    }



    #mobile{
        display: none;
    }

    #pc {
        display: block;
        width: 100vw;
        height: 450px;
    }

    h1 {
        margin-top: 30px;
    }
    section {
        width: 1000px;
    }

    .imgpequena {
        display: block;
    }

    #conteiner {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    #conteiner > div img {
        width: 500px;
    }

    .especial {
        width: 500px;
        display: inline-block;
    }

    footer {
        width: 100vw;
        position: relative;
    }

    footer p {
        text-align: center;
        width: 800px;
        padding-top: 25px;
        margin: auto;
    }

    #cr7 {
        position: absolute;
        display: block;
        width: 300px;
        left: 1100px;
        top: 5px;
    }

    #messi {
        position: absolute;
        display: block;
        width: 350px;
        left: 80px;
        top: 15px;
    }
}

@media screen and (width: 1024px) {
    #cr7 {
        display: none;
    }

    #messi {
        display: none;
    }
}

@media screen and (width: 1280px) {
    #cr7 {
        display: none;
    }

    #messi {
        display: none;
    }
}

