@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.dark-mode {
    --cor-fundo: black;
    --cor-texto: white;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: .5s;
}



.dark-mode h1 {
    color: white;
}

.dark-mode footer {
    background-color: gray;
}

.dark-mode footer p {
    color: black;
}

header img#mobile {
    width: 100vw;
    height: 250px;
}

#pc {
    display: none;
}

section {
    margin: auto;
}


h1 {
    margin-top: 15px;
    margin-left: 15px;
    border-left:  4px solid #BC0000;
    padding-left: 5px;
}

span {
    margin-left: 20px;
    cursor: pointer;
}



#conteiner {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#conteiner div {
    flex: 1 1 230px;
}

div.especial img {
    width: 100%;
    padding: 10px;
    
    
}
 #conteiner > div img {
   margin-top: 15px;
   padding: 10px;
   width: 100%;
}




footer {
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
}

footer p {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-indent: 5px;
    text-align: justify;
    padding: 10px;
    text-align: center;
}

#cr7 {
   display: none;
}

#messi {
    display: none;
}

#nome {
    font-weight: bolder;
    text-align: center;
}


